<div class="col-lg-3 col-md-4 col-sm-12 d-flex flex-column align-items-start menu">
    <div id="menu">
        <div class="menu-header">
            <div class="menu-header-text">
                <h5>Категории</h5>
            </div>
        </div>

        <div class="background-white menu-list">
            <ul>
                <li><a asp-action="BySport" asp-route-sport="1">Football</a></li>
                <li><a asp-action="BySport" asp-route-sport="2">Bascetball</a></li>
            </ul>
        </div>
    </div>
</div>
