@model BLL.ViewModels.EditPasswordViewModel

@{
    using (Html.BeginForm("EditPassword", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        ;

        <div class="form-wrap">
            <label asp-for="OldPassword" class="sr-only">Current pasword</label>

            <div>
                <input class="form-control" asp-for="OldPassword" id="OldPassword" type="password" placeholder="Current pasword">
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-wrap">
            <label asp-for="NewPassword" id="NewPassword" class="sr-only">New password</label>

            <div>
                <input class="form-control" asp-for="NewPassword" type="password" placeholder="NewPassword">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-wrap">
            <label asp-for="PasswordConfirm" class="sr-only">Confirm new password</label>

            <div>
                <input class="form-control" id="PasswordConfirm" asp-for="PasswordConfirm" type="password" placeholder="Confirm new password">
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
        </div>

        <div class="form-wrap">
            <button class="btn primary-btn primary-btn-lg" type="submit">
                Submit
            </button>
        </div>
    }
}
