<div class="col-md-3 col-sm-12 d-flex flex-column align-items-start menu">
    <div class="menu-header">
        <h5>Меню</h5>
    </div>

    <div class="background-white menu-list">
        <ul>
            <li><a asp-controller="Account" asp-action="Index">Настройки</a></li>
            <li><a asp-controller="Account" asp-action="Balance">Баланс</a></li>
            <li><a asp-controller="Account" asp-action="Bets">История ставок</a></li>
        </ul>
    </div>
</div>
