<style type="text/css" src="~/css/sports.css">

    .sport-row {
        justify-content: flex-end;
    }

    .sport-button {
        background-color: silver;
        padding: 25px;
        border-radius: 10px;
    }

</style>

<section class="section section-sm bg-gray-100">
    <div class="container">
        <div class="row isotope-wrap row-30">

            <!-- Football-->
            <div class="col-lg-12 blog-post" data-filter="football">

                <article class="heading-component">

                    <div class="heading-component-inner">

                        <h5 class="heading-component-title">
                            Footbal
                        </h5>

                        <hr>
                    </div>

                </article>

                <div class="sport-table-header">
                    <p>Match</p>
                </div>

                <div class="sport-table">
                    <div class="sport-table-tr">
                        <div class="row align-items-center row-15">

                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <div class="sport-table-icon">
                                    <img src="~/images/Footbal/bal.jpg" style=" width:64px; height:64px;">
                                </div>
                            </div>

                            <div class="col-sm-9 col-md-4 col-lg-3">
                                <div class="container">

                                    <div class="row">

                                        <div class="col-sm">
                                            <h6>Real Madrid</h6>
                                        </div>

                                        <div class="col-sm">
                                            <h6>3</h6>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm">
                                            <h6>Shelsia</h6>
                                        </div>

                                        <div class="col-sm">
                                            <h6>2</h6>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="container">

                                    <div class="row sport-row">

                                        <div class="col-sm">
                                            <a class="sport-button" href="#" data-toggle="modal" data-target="#sportModal" data-team-name="Real Madrid" data-confrontation="Real Madrid vs Chelsea" data-wager-count="1.23" data-score="4:2">
                                                <span> Real Madrid X 1.23</span>
                                            </a>
                                        </div>

                                        <div class="col-sm">
                                            <a class="sport-button" href="#" data-toggle="modal" data-target="#sportModal" data-team-name="Draw" data-confrontation="Real Madrid vs. Chelsea" data-wager-count="13.00" data-score="4:2">
                                                <span> Draw X 13.00 </span>
                                            </a>
                                        </div>

                                        <div class="col-sm">
                                            <a class="sport-button" href="#" data-toggle="modal" data-target="#sportModal" data-team-name="Chelsea" data-confrontation="Real Madrid vs Chelsea" data-wager-count="34.25" data-score="4:2">
                                                <span> Chelsea X 34.25 </span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <!-- Basketball-->
            <div class="col-lg-12 blog-post" data-filter="basketball">

                <article class="heading-component">
                    <div class="heading-component-inner">

                        <h5 class="heading-component-title">
                            Basketball
                        </h5>
                        <hr>

                    </div>
                </article>

                <div class="sport-table-header">
                    <p>Match</p>
                </div>

                <div class="sport-table">
                    <div class="sport-table-tr">
                        <div class="row align-items-center row-15">

                            <div class="col-sm-1 col-md-1 col-lg-1">
                                <div class="sport-table-icon">
                                    <img src="~/images/Basketball/ball.png" style=" width:64px; height:64px;">
                                </div>
                            </div>

                            <div class="col-sm-9 col-md-4 col-lg-3">
                                <div class="container">

                                    <div class="row">

                                        <div class="col-sm">
                                            <h6>New York Knicks</h6>
                                        </div>

                                        <div class="col-sm">
                                            <h6>53</h6>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-sm">
                                            <h6>Houston Rockets</h6>
                                        </div>

                                        <div class="col-sm">
                                            <h6>66</h6>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm">
                                <div class="container">

                                    <div class="row sport-row">

                                        <div class="col-sm">
                                            <a class="sport-button" href="#" data-toggle="modal" data-target="#sportModal" data-team-name="Real Madrid" data-confrontation="Real Madrid vs Chelsea" data-wager-count="1.23" data-score="4:2">
                                                <span> New York Knicks  X 1.23</span>
                                            </a>
                                        </div>

                                        <div class="col-sm">
                                            <a class="sport-button" href="#" data-toggle="modal" data-target="#sportModal" data-team-name="Real Madrid" data-confrontation="Real Madrid vs Chelsea" data-wager-count="1.23" data-score="4:2">
                                                <span>Draw X 1.23</span>
                                            </a>

                                        </div>

                                        <div class="col-sm">
                                            <a class="sport-button" href="#" data-toggle="modal" data-target="#sportModal" data-team-name="Real Madrid" data-confrontation="Real Madrid vs Chelsea" data-wager-count="1.23" data-score="4:2">
                                                <span>Houston Rockets X 1.23</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>